[defaults]
inventory = /work/infra/ansible/inventory/hosts.yml
roles_path = /work/infra/ansible/roles
host_key_checking = False
interpreter_python = /usr/bin/python3
callback_result_format = yaml
forks = 10

[ssh_connection]
pipelining = True
